.container{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/413/916/1009/purple-4k-lavender-farm-blossom-wallpaper-preview.jpg');
    display :flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background:#430A5D;
    padding-bottom :30px;
    width: 600px;
    border-radius: 10%;
    opacity: 0.8;

}


body{
    background-image: url('../assets/Lavender-Farms-in-Ontario-for-a-Day-Trip.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;    
    margin-top: 30px;
    /* margin-bottom: 20px; */
}

.text{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width:80px;
    height:6px;
    background: #fff;
    border-radius:9px;



}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap:25px
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    /* margin-bottom: 20px; */
    width:480px;
    height:80px;
    background-color: #eaeaea;
    border-radius: 6px;

}
.inputs img{
    margin: 0px 30px;
}



.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline :none;
    color: #212020;
    font-size: 19px;
}
.fogot-password{
    padding-left: 62px;
    margin-top: 27px;
    color:#797979;
    font-size: 18px;

 }
.fogot-password span{
    color:#fff;
    cursor:pointer;

 }
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto; 
 }

 .submit{
    font-size: 19px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #430A5D;
    background: #fff;
    border-radius: 50px;
    font-size:19px;
    font-weight: 700;
    cursor: pointer;
 }